// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:focus {
    outline:none;
}

::-moz-focus-inner {
    border:0;
}

// Variables
@import 'fonts';

$font-1: 'Source Sans Pro', sans-serif;
$font-2: 'Homestead', sans-serif;
$font-3: 'Cider';
$font-4: 'Lato', sans-serif;

// Colors
$color-1: #fff;
$color-2: #a0a0a0;
$color-3: #434343;
$button: #688187;
$button-hover: #88a1a7;

// General Styles

html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: $font-4;
    font-size: 16px;
    font-weight: 300;
    color: $color-1;
    background-color: #171F2A;
    overflow-x: hidden;
}

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: $color-2;
    transition: color 0.3s ease;

    &:hover {
        color: #fff;
    }
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

// Structure

header {
    background: $color-3;

    .container {
        display: flex;
        flex-direction: column;

        nav {
            a {
                margin: 0 5px;
            }
        }
    }
}

section {
    display: inline-flex;
    justify-content: center;
    flex: 1;

    &.main {
        padding: 0 20px;
        background: url('../images/main-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media screen and (max-width: 600px) {
            padding: 10px;
        }

        .container {
            margin: 20px 0;
            background: black;

            home {
                button {
                    margin-bottom: 20px;
                }

            }

            primarch, novel {
                img {
                    display: block;
                    margin-right: 40px;
                    float: left;
                    max-width: 400px;
                }
            }


            .breadcrumbs {
                margin-bottom: 40px;
            }



            p {
                max-width: 600px;
                font-size: 18px;
                font-weight: 300;
                line-height: 26px;
            }
        }
    }
}

.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.section-title {
    position: relative;
    margin-bottom: 20px;
    font-family: $font-4;
    font-size: 36px;
    font-weight: 900;
    color: $color-1;
    text-transform: uppercase;
    letter-spacing: 1px;
}


footer {
    padding: 40px;
    text-align: center;
    background-color: $color-3;

    p {
        margin: 0;
    }
}

// Pages

.active {
    color: #fff;
}

.primarch-page {
}

.statevis {
  position: fixed;
  right: 2em;
  top: 2em;
  z-index: -1;
}

// Special Classes

.alert {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 50px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;

    &.show-alert {
        visibility: visible;
        opacity: 1;
    }

    &.success {
        background-color: rgba(88, 161, 4, 0.8);
    }

    &.error {
        background-color: rgba(177, 39, 4, 0.8);
    }
}
